[submodule "products/rust/qtty"]
	path = products/rust/qtty
	url = git@github.com:Siderust/qtty.git
[submodule "products/rust/cheby"]
	path = products/rust/cheby
	url = git@github.com:Siderust/cheby.git
[submodule "products/rust/keplerian"]
	path = products/rust/keplerian
	url = git@github.com:Siderust/keplerian.git
[submodule "products/rust/principia"]
	path = products/rust/principia
	url = git@github.com:Siderust/principia.git
[submodule "products/rust/siderust"]
	path = products/rust/siderust
	url = git@github.com:Siderust/siderust.git
[submodule "products/rust/optica"]
	path = products/rust/optica
	url = git@github.com:Siderust/optica.git
[submodule "products/rust/archive"]
	path = products/rust/archive
	url = git@github.com:Siderust/archive.git
[submodule "products/rust/tempoch"]
	path = products/rust/tempoch
	url = git@github.com:Siderust/tempoch.git
[submodule "products/cpp/tempoch-cpp"]
	path = products/cpp/tempoch-cpp
	url = git@github.com:Siderust/tempoch-cpp.git
[submodule "products/cpp/qtty-cpp"]
	path = products/cpp/qtty-cpp
	url = git@github.com:Siderust/qtty-cpp.git
[submodule "products/cpp/siderust-cpp"]
	path = products/cpp/siderust-cpp
	url = git@github.com:Siderust/siderust-cpp.git
[submodule "products/py/qtty-py"]
	path = products/py/qtty-py
	url = git@github.com:Siderust/qtty-py.git
[submodule "products/py/tempoch-py"]
	path = products/py/tempoch-py
	url = git@github.com:Siderust/tempoch-py.git
[submodule "products/py/siderust-py"]
	path = products/py/siderust-py
	url = git@github.com:Siderust/siderust-py.git
[submodule "products/js/tempoch-js"]
	path = products/js/tempoch-js
	url = git@github.com:Siderust/tempoch-js.git
[submodule "products/js/qtty-js"]
	path = products/js/qtty-js
	url = git@github.com:Siderust/qtty-js.git
[submodule "products/js/siderust-js"]
	path = products/js/siderust-js
	url = git@github.com:Siderust/siderust-js.git
